# streamlit==1.16.0
# pandas==1.4.4
# numpy==1.21.5
# seaborn==0.11.2
# matplotlib==3.5.2
# joblib==1.2.0
# xgboost==0.90
# streamlit_option_menu
# scikit-learn
# streamlit_lottie
streamlit==1.16.0
pandas==1.4.4
numpy==1.21.5
matplotlib==3.5.2
seaborn==0.11.2
scikit-learn==1.1.3
joblib==1.2.0
xgboost==0.90

streamlit-option-menu==0.3.6
streamlit-lottie==0.0.5
altair==4.2.2

